
.body {
    background-color: #cea45c;
    display:grid;
    place-items: left;
}

.body ul{
    text-align: left;
}

/*.color1 { #b9340b };
.color2 { #cea45c };
.color3 { #c5be8b };
.color4 { #498379 };
.color5 { #3f261c };*/
